
<div class="container-fluid">
  <h1 class="mt-4 mb-4 text-center">Todo List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 120px;">
          <input type="checkbox" class="mr-2"> Select All 
        </th>
        <th scope="col" style="width: 60px;">Id</th>
        <th scope="col">Todo</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <input type="checkbox">
        </th>
        <td>1</td>
        <td>Todo text 1 2 3...</td>
        <td>
          <!-- TODO: Hide update/delete if update clicked -->
          <button type="button" class="btn btn-warning">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <!-- TODO: Hide save/cancel if not updating -->
          <button type="button" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
