<div class="container-fluid">
  <h1 class="mt-4 mb-3 text-center">Todo List</h1>
  <div class="row mb-3">
    <div class="col text-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="openCreateTodoModal()">Add Todo</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 100px;">
          Completed
        </th>
        <th scope="col" style="width: 60px;">Id</th>
        <th scope="col">Todo</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <input type="checkbox">
        </th>
        <td>0</td>
        <td>Example Todo Text</td>
        <td>
          Update Functionality Buttons Go Here!
        </td>
      </tr>
      <tr *ngFor="let todo of todos" [id]="'todo-id-' + todo.id" [class.table-success]="todo.completed">
        <th scope="row">
          <ng-template [ngIf]="todo.completed" [ngIfElse]="incomplete">
            <input (change)="toggleComplete(todo.id)" type="checkbox" checked>
          </ng-template>
          
          <ng-template #incomplete>
            <input (change)="toggleComplete(todo.id)" type="checkbox">
          </ng-template>
        </th>
        <td>{{ todo.id }}</td>
        <td>{{ todo.text }}</td>
        <td>
          <button type="button" class="btn btn-warning mr-2" (click)="openEditTodoModal(todo)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
